section.satuan,
section.sepatu {
  margin-top: 130px;
  padding-bottom: 50px;
}

section.satuan .jasa,
section.sepatu .jasa {
  color: #4bc7f3;
  text-align: center;
}

section.satuan .img-wrapper,
section.sepatu .img-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

section.satuan .img-wrapper img,
section.sepatu .img-wrapper img {
  width: 270px;
  height: 350px;
}

section.satuan .description,
section.sepatu .description {
  margin-top: 50px;
}

section.satuan .description p,
section.sepatu .description p {
  font-size: 16px;
  font-weight: 300;
}

section.satuan .description p span,
section.sepatu .description p span {
  font-weight: 500;
}

section.satuan .btn-paket,
section.sepatu .btn-paket {
  background-color: #4bc7f3;
  color: #152c5b;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 40px;
  margin-top: 24px;
}

section.satuan .btn-paket:hover,
section.sepatu .btn-paket:hover {
  background-color: #4bb9e1;
}
