.banner_wrapper {
  background-image: url("../../assets/banner.png");
  background-image: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.banner_wrapper .text_wrapper {
  margin-top: 40vh;
}

.banner_wrapper .text_wrapper h2 {
  font-size: 36px;
  font-weight: 600;
  color: white;
}

.banner_wrapper .text_wrapper .btn-pickup {
  background-color: #4bc7f3;
  color: #152c5b;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 40px;
  margin-top: 24px;
}

.banner_wrapper .text_wrapper .btn-pickup:hover {
  background-color: #4bb9e1;
}
