img {
  height: 80px;
}

a {
  text-decoration: none;
}

.header_wrapper .navbar {
  padding: 0;
}

.header_wrapper .nav-item {
  font-size: 16px;
  font-weight: 500;
}

.header_wrapper .nav-item .nav-link {
  color: #152c5b;
  margin: 0 8px;
  position: relative;
  display: inline-block;
}

.header_wrapper .nav-item:last-child {
  font-weight: 500;
}

.header_wrapper .nav-item .nav-link::after {
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  height: 2px;
  bottom: 0;
  background: #4bc7f3;
  transition: 0.3s;
}

.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover:after {
  width: 100%;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
  color: #4bc7f3;
}

.banner_wrapper {
  background-image: url("../../assets/banner.png");
  background-image: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.banner_wrapper .text_wrapper {
  margin-top: 40vh;
}

.banner_wrapper .text_wrapper h2 {
  font-size: 36px;
  font-weight: 600;
  color: white;
}

.banner_wrapper .text_wrapper .btn-pickup {
  background-color: #4bc7f3;
  color: #152c5b;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 40px;
  margin-top: 24px;
}

.banner_wrapper .text_wrapper .btn-pickup:hover {
  background-color: #4bb9e1;
}

/* Navbar Scroll */
.header_wrapper .navbar-scroll {
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
