.tentang-kami {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.tentang-kami .img-wrapper {
  height: 350px;
}

.tentang-kami .img-wrapper img {
  height: 100%;
}

.tentang-kami .tentang {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tentang-kami .judul {
  font-size: 60px;
  font-weight: 600;
  color: #4bc7f3;
  width: 100%;
  margin: 0;
  text-align: center;
}

.tentang-kami .description {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
  color: #152c5b;
}
